<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a13110091.github">

    <!-- 어플 내 인터넷 사용 가능하게 끔 함 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- WIFI 사용가능하게 하는 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature android:name="android.hardware.wifi" />
    <!-- SDK23 이상 부터는 </application> 아래에 작성 해주어야 한다. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 인터넷을 사용함 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- LTE / 3G 자동으로 켜기 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android:icon: "@drawable/icon" 이부분 변경시 앱 설치할때 이미지 변경 -->
    <!-- android:label: "앱 이름 변경 가능" 이부분 변경시 앱 이름 변경 가능 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActive" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".GraphActivity" />

        <!-- 아래 두개의 서비스 태그를 추가한다. -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Setting" />
        <activity android:name=".t123123" />
        <activity android:name=".Alllist"></activity>
    </application>

</manifest>